<main id="main">
	<section class="breadcrumbs">
		<div class="container">
			<ol>
				<li><a href="index.html">Home</a></li>
				<li>Almunis Directory</li>
			</ol>
			<h2><%= @almuni.fullname%></h2>
		</div>
	</section>


</main>
