   <!-- ======= Hero Section ======= -->
   <section id="hero" class="d-flex align-items-center">

   	<div class="container-fluid" data-aos="zoom-out" data-aos-delay="100">
   		<div class="row justify-content-center">
   			<div class="col-xl-10">
   				<div class="row">
   					<div class="col-xl-6 mt-2">

   						<%= image_tag "logo223.png", size: "250x75"%>
   						<h1>YIC Started online masters Registration </h1>
   						<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
   						<a href="#about" class="btn-get-started scrollto">Apply now</a>
   					</div>
   					<div class="col-12 col-xl-6 mt-3 mb-2">
   						<div class="embed-responsive embed-responsive-16by9">
   							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Sxuk-tbnNtE" allowfullscreen></iframe>
   						</div>
   					</div>
   				</div>
   			</div>
   		</div>
   	</div>

   </section><!-- End Hero -->

   <main id="main">
   	<section id="services" class="services" >
   		<div class="container" data-aos="zoom-out" data-aos-delay="100">

   			<div class="section-title">
   				<h2>I want to be the future of</h2>
   			</div>

   			<div class="row justify-content-center">

   				<div class="col-lg-3 col-md-6">
   					<a href="">
   						<div class="icon-box d-flex justify-content-center">
   							<!-- <div class="icon"><i class="fas fa-heartbeat"></i></div> -->
   							<h4 class="d-flex align-items-center"><a href="">online masters graduate</a></h4>
   						</div>
   					</a>
   				</div>
   				<div class="col-lg-3 col-md-6">
   					<div class="icon-box d-flex justify-content-center">
   						<!-- <div class="icon"><i class="fas fa-heartbeat"></i></div> -->
   						<h4 class="d-flex align-items-center ml-0"><a href="">regular masters graduate</a></h4>
   					</div>
   				</div>
   				<div class="col-lg-3 col-md-6">
   					<div class="icon-box d-flex justify-content-center">
   						<!-- <div class="icon"><i class="fas fa-heartbeat"></i></div> -->
   						<h4 class="d-flex align-items-center ml-0"><a href="">regular degree graduate</a></h4>
   					</div>
   				</div>
   				<div class="col-lg-3 col-md-6">
   					<div class="icon-box d-flex justify-content-center">
   						<!-- <div class="icon"><i class="fas fa-heartbeat"></i></div> -->
   						<h4 class="d-flex align-items-center ml-0"><a href="">extension graduate</a></h4>
   					</div>
   				</div>
   				<div class="col-lg-3 col-md-6">
   					<div class="icon-box d-flex justify-content-center">
   						<!-- <div class="icon"><i class="fas fa-heartbeat"></i></div> -->
   						<h4 class="d-flex align-items-center ml-0"><a href="">distance degree graduate</a></h4>
   					</div>
   				</div>
   				<div class="col-lg-3 col-md-6">
   					<div class="icon-box d-flex justify-content-center">
   						<!-- <div class="icon"><i class="fas fa-heartbeat"></i></div> -->
   						<h4 class="d-flex align-items-center ml-0"><a href="">TBVT graduate</a></h4>
   					</div>
   				</div>
   			</div>

   		</div>
   	</section>

   	<section id="cta" class="cta" data-aos="zoom-in" data-aos-delay="100">
   		<div class="container aos-init aos-animate " data-aos="zoom-in">
   			<div class="text-center">
   				<h3>Marketing Headline</h3>
   				<p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   				<a class="cta-btn" href="#">Learn more</a>
   			</div>
   		</div>
   	</section>

   	<section id="recent-blog-posts" class="recent-blog-posts">

   		<div class="container aos-init aos-animate" data-aos="fade-up">

   			<header class="section-header" data-aos="zoom-in">
   				<h2>Programs</h2>
   				<p>Our Degree Program</p>
   			</header>

   			<div class="row">

   				<div class="col-lg-3" style="padding-right: 5px;">
   					<div class="post-box bg-white">
   						<div class="post-img"><img src="https://iias.ca/wp-content/uploads/2018/01/Marketing-Plan.jpg" class="img-fluid" alt=""></div>

   						<h3 class="post-title">Marketing</h3>
   						<span class="post-date"><strong>modality:- online, regular, extention & distance </strong></span>
   						<span class="post-date mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
   						<a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
   					</div>
   				</div>
   				<div class="col-lg-3" style="padding-right: 5px;">
   					<div class="post-box">
   						<div class="post-img"><img src="https://iedunote.com/img/1547/functions-steps-of-management-process.png" class="img-fluid" alt=""></div>

   						<h3 class="post-title">Management</h3>
   						<span class="post-date"><strong>modality:-</strong> online, regular, extention & distance</span>
   						<span class="post-date mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
   						<a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
   					</div>
   				</div>
   				<div class="col-lg-3" style="padding-right: 5px;">
   					<div class="post-box">
   						<div class="post-img"><img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/d9/b7a0d0ff9c11e6b4394f01375dc7b5/FAFLogo.jpg?auto=format%2Ccompress&dpr=1" class="img-fluid" alt=""></div>

   						<h3 class="post-title">Accounting</h3>
   						<span class="post-date"><strong>modality:-</strong> online, regular, extention & distance</span>
   						<span class="post-date mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
   						<a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
   					</div>
   				</div>
   				<div class="col-lg-3" style="padding-right: 5px;">
   					<div class="post-box">
   						<div class="post-img"><img src="https://lh4.googleusercontent.com/2ZyIwfve5uoi0ErMb23VeiDW1zbVbPRoRRXdjDxGCIwd9uXtGL0il0Gew-CWmOx4KJr8cIrjlUA8PlBviltpe9axXLK6Yt0CfZcArnHdsVxmEwYUEP9O6vkOUlR9jXDrlMfvwlws" class="img-fluid" alt=""></div>

   						<h3 class="post-title">Leadership</h3>
   						<span class="post-date"><strong>modality:-</strong> online, regular, extention & distance</span>
   						<span class="post-date mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
   						<a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
   					</div>
   				</div>

   			</div>

   		</div>

   	</section>
   	<section id="recent-blog-posts" class="recent-blog-posts">

   		<div class="container aos-init aos-animate" data-aos="fade-up">

   			<header class="section-header" data-aos="zoom-in">
   				<h2>Programs</h2>
   				<p>Our Masters Program</p>
   			</header>

   			<div class="row">

   				<div class="col-lg-3" style="padding-right: 5px;">
   					<div class="post-box bg-white">
   						<div class="post-img"><img src="https://iias.ca/wp-content/uploads/2018/01/Marketing-Plan.jpg" class="img-fluid" alt=""></div>

   						<h3 class="post-title">Marketing</h3>
   						<span class="post-date"><strong>modality:- online, regular, extention & distance </strong></span>
   						<span class="post-date mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
   						<a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
   					</div>
   				</div>
   				<div class="col-lg-3" style="padding-right: 5px;">
   					<div class="post-box">
   						<div class="post-img"><img src="https://iedunote.com/img/1547/functions-steps-of-management-process.png" class="img-fluid" alt=""></div>

   						<h3 class="post-title">Management</h3>
   						<span class="post-date"><strong>modality:-</strong> online, regular, extention & distance</span>
   						<span class="post-date mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
   						<a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
   					</div>
   				</div>
   				<div class="col-lg-3" style="padding-right: 5px;">
   					<div class="post-box">
   						<div class="post-img"><img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera-course-photos.s3.amazonaws.com/d9/b7a0d0ff9c11e6b4394f01375dc7b5/FAFLogo.jpg?auto=format%2Ccompress&dpr=1" class="img-fluid" alt=""></div>

   						<h3 class="post-title">Accounting</h3>
   						<span class="post-date"><strong>modality:-</strong> online, regular, extention & distance</span>
   						<span class="post-date mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
   						<a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
   					</div>
   				</div>
   				<div class="col-lg-3" style="padding-right: 5px;">
   					<div class="post-box">
   						<div class="post-img"><img src="https://lh4.googleusercontent.com/2ZyIwfve5uoi0ErMb23VeiDW1zbVbPRoRRXdjDxGCIwd9uXtGL0il0Gew-CWmOx4KJr8cIrjlUA8PlBviltpe9axXLK6Yt0CfZcArnHdsVxmEwYUEP9O6vkOUlR9jXDrlMfvwlws" class="img-fluid" alt=""></div>

   						<h3 class="post-title">Leadership</h3>
   						<span class="post-date"><strong>modality:-</strong> online, regular, extention & distance</span>
   						<span class="post-date mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
   						<a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
   					</div>
   				</div>

   			</div>

   		</div>

   	</section>


   	<!-- ======= About Section ======= -->
   	<section id="about" class="about section-bg">
   		<div class="container" data-aos="fade-up">

   			<div class="row no-gutters">
   				<div class="content col-xl-5 d-flex align-items-stretch">
   					<div class="content">
   						<h3>15+ Years Of Academic Services</h3>
   						<p>
   							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
   						</p>
   						<a href="#" class="about-btn"><span>About us</span> <i class="bx bx-chevron-right"></i></a>
   					</div>
   				</div>
   				<div class="col-xl-7 d-flex align-items-stretch">
   					<div class="icon-boxes d-flex flex-column justify-content-center">
   						<div class="row">
   							<div class="col-md-6 icon-box mt-0" data-aos="fade-up" data-aos-delay="100">
   								<i class="bx bx-receipt"></i>
   								<h4>Vision</h4>
   								<p>To be among the leading international center of excellence, respected for the range of  academic programs it offers, for the capable and confident graduates it produces and for their contribution to local and global developments.</p>
   							</div>
   							<div class="col-md-6 icon-box mt-0" data-aos="fade-up" data-aos-delay="200">
   								<i class="bx bx-cube-alt"></i>
   								<h4>Mission </h4>
   								<p>Create qualified Professionals in the educational fields that it offers and contribute to the Alleviation of the   skilled manpower needs of the country;</p>
   							</div>
                <!-- <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-images"></i>
                  <h4>Labore consequatur</h4>
                  <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-shield"></i>
                  <h4>Beatae veritatis</h4>
                  <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                </div> -->
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section>
    <section id="recent-blog-posts" class="recent-blog-posts">

    	<div class="container aos-init aos-animate" data-aos="fade-up">

    		<header class="section-header">
    			<h2>News</h2>
    			<p>Latest News & Events</p>
    		</header>

    		<div class="row">

    			<div class="col-lg-4">
    				<div class="post-box">
    					<div class="post-img"><%= image_tag "blog-1.jpg", class:"img-fluid", alt:""%></div>
    					<span class="post-date">Tue, September 15</span>
    					<h3 class="post-title">Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit</h3>
    					<a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
    				</div>
    			</div>

    			<div class="col-lg-4">
    				<div class="post-box">
    					<div class="post-img"><%= image_tag "blog-3.jpg", class: "img-fluid", alt:""%></div>
    					<span class="post-date">Fri, August 28</span>
    					<h3 class="post-title">Et repellendus molestiae qui est sed omnis voluptates magnam</h3>
    					<a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
    				</div>
    			</div>

    			<div class="col-lg-4">
    				<div class="post-box">
    					<div class="post-img"><%= image_tag "blog-2.jpg", class: "img-fluid", alt:""%></div>
    					<span class="post-date">Mon, July 11</span>
    					<h3 class="post-title">Quia assumenda est et veritatis aut quae</h3>
    					<a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
    				</div>
    			</div>

    		</div>

    	</div>

    </section>

    <section id="cta" class="cta">
    	<div class="container aos-init aos-animate " data-aos="zoom-in">
    		<div class="text-center">
    			<h3>Marketing Headline</h3>
    			<p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    			<a class="cta-btn" href="#">Learn more</a>
    		</div>
    	</div>
    </section>

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
    	<div class="container" data-aos="fade-up">
    		<div class="section-title">
    			<h2>Testimonials</h2>
    			<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
    		</div>
    	</div>

    	<div class="container-fluid">

    		<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
    			<div class="col-xl-10">
    				<div class="owl-carousel testimonials-carousel">

    					<div class="testimonial-wrap">
    						<div class="testimonial-item">
    							<img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
    							<h3>Saul Goodman</h3>
    							<h4>Ceo &amp; Founder</h4>
    							<p>
    								<i class="bx bxs-quote-alt-left quote-icon-left"></i>
    								Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
    								<i class="bx bxs-quote-alt-right quote-icon-right"></i>
    							</p>
    						</div>
    					</div>

    					<div class="testimonial-wrap">
    						<div class="testimonial-item">
    							<img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
    							<h3>Sara Wilsson</h3>
    							<h4>Designer</h4>
    							<p>
    								<i class="bx bxs-quote-alt-left quote-icon-left"></i>
    								Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
    								<i class="bx bxs-quote-alt-right quote-icon-right"></i>
    							</p>
    						</div>
    					</div>

    					<div class="testimonial-wrap">
    						<div class="testimonial-item">
    							<img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
    							<h3>Jena Karlis</h3>
    							<h4>Store Owner</h4>
    							<p>
    								<i class="bx bxs-quote-alt-left quote-icon-left"></i>
    								Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
    								<i class="bx bxs-quote-alt-right quote-icon-right"></i>
    							</p>
    						</div>
    					</div>

    					<div class="testimonial-wrap">
    						<div class="testimonial-item">
    							<img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
    							<h3>Matt Brandon</h3>
    							<h4>Freelancer</h4>
    							<p>
    								<i class="bx bxs-quote-alt-left quote-icon-left"></i>
    								Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
    								<i class="bx bxs-quote-alt-right quote-icon-right"></i>
    							</p>
    						</div>
    					</div>

    					<div class="testimonial-wrap">
    						<div class="testimonial-item">
    							<img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
    							<h3>John Larson</h3>
    							<h4>Entrepreneur</h4>
    							<p>
    								<i class="bx bxs-quote-alt-left quote-icon-left"></i>
    								Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat esse veniam culpa fore nisi cillum quid.
    								<i class="bx bxs-quote-alt-right quote-icon-right"></i>
    							</p>
    						</div>
    					</div>

    				</div>
    			</div>
    		</div>

    	</div>
    </section><!-- End Testimonials Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
    	<div class="container" data-aos="fade-up">

    		<div class="section-title">
    			<h2>Contact</h2>
    			<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
    		</div>

    		<div class="row" data-aos="fade-up" data-aos-delay="100">

    			<div class="col-lg-6">

    				<div class="row">
    					<div class="col-md-12">
    						<div class="info-box">
    							<i class="bx bx-map"></i>
    							<h3>Our Address</h3>
    							<p>Ethiopia Addis Ababa, Asmara Road</p>
    						</div>
    					</div>
    					<div class="col-md-6">
    						<div class="info-box mt-4">
    							<i class="bx bx-envelope"></i>
    							<h3>Email Us</h3>
    							<p>info@yic.edu.et<br>contact@yic.edu.et</p>
    						</div>
    					</div>
    					<div class="col-md-6">
    						<div class="info-box mt-4">
    							<i class="bx bx-phone-call"></i>
    							<h3>Call Us</h3>
    							<p>+251-11-6-460954<br>+251-11-6-478965</p>
    						</div>
    					</div>
    				</div>

    			</div>

    			<div class="col-lg-6">
    				<form action="forms/contact.php" method="post" role="form" class="php-email-form">
    					<div class="form-row">
    						<div class="col form-group">
    							<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
    							<div class="validate"></div>
    						</div>
    						<div class="col form-group">
    							<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
    							<div class="validate"></div>
    						</div>
    					</div>
    					<div class="form-group">
    						<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
    						<div class="validate"></div>
    					</div>
    					<div class="form-group">
    						<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
    						<div class="validate"></div>
    					</div>
    					<div class="mb-3">
    						<div class="loading">Loading</div>
    						<div class="error-message"></div>
    						<div class="sent-message">Your message has been sent. Thank you!</div>
    					</div>
    					<div class="text-center"><button type="submit">Send Message</button></div>
    				</form>
    			</div>

    		</div>

    	</div>
    </section><!-- End Contact Section -->
  </main><!-- End #main -->


