/*
 *= require active_storage_drag_and_drop
 */

@import 'activeadmin_addons/all';
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
$skinMainFirstColor: #024d71!default;
$skinMainSecondColor: #ffc107!default;
$menu-arrow-dark-icon-url: 'active_admin/nested_menu_arrow_dark.gif' !default;
@import "wigu/active_admin_theme";
